<form (ngSubmit)="updatePass()">
<div class="form-group">
    <label for="current_password">Mot de passe actuel :</label>
    <input type="password"  name="current_password" class="text form-control" [(ngModel)]="user.current_password" required>
  </div>

  <div class="form-group">
    <label for="new_password">Nouveau mot de passe :</label>
    <input type="password" name="new_password" class="text form-control" [(ngModel)]="user.new_password" required>
  </div>
  <button class="btn btn-dark btn-sm mt-4">Mise à jour </button>
</form>